.header_container {
  display: flex;
  justify-content: space-between;
  padding: 20px 5vw;
  box-shadow: 12px 2px 2px 1px rgba(26, 26, 31, 0.2);
}
.header_container span {
  display: flex;
  align-items: center;
  font-weight: 700;
  cursor: pointer;
}
